.TicTacToe-container {
  background: black;
  text-align: center;

}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
@media (min-width:1700px) {
	.TicTacToe-container {
    background: black;
    text-align: center;

  }
  .TicTacToe-header {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 20px;

  }
  .HomePage-header {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 20px;

  }
  .hangman-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hangman-drawing {
    position: relative;
    margin-top: 50px;
  }
  .hangman-head {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid white;
    position: absolute;
    top: 49px;
    right: -30px;
  }

  .hangman-body {
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    top: 118px;
    right: 0;
  }
  .hangman-right-arm {
    width: 100px;
    height: 10px;
    background: white;
    position: absolute;
    top: 148px;
    right: -100px;
    transform: rotate(-30deg);
    transform-origin: left bottom;
  }
  .hangman-left-arm {
    width: 100px;
    height: 10px;
    background: white;
    position: absolute;
    top: 148px;
    right: 10px;
    transform: rotate(30deg);
    transform-origin: right bottom;
  }
  .hangman-right-leg {
    width: 100px;
    height: 10px;
    background: white;
    position: absolute;
    top: 208px;
    right: -90px;
    transform: rotate(60deg);
    transform-origin: left bottom;
  }
  .hangman-left-leg {
    width: 100px;
    height: 10px;
    background: white;
    position: absolute;
    top: 208px;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: right bottom;
  }
}
.TicTacToe-header,
.hangman-header {
  color: white;
  margin: auto;
  text-align: center;
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 20px;

}
.TicTacToe-status {
  color: #fff;
  font-size: 35px;
  text-align: center;
}
.X-turn {
  color: aqua;
}

.O-turn {
  color: blanchedalmond;
}

.TicTacToe-header:hover{
  color: #0d9aa4;
  transition: 0.3s ease-in-out;
}

.TicTacToe-box {
  cursor: pointer;
  font-size: 70px;
  height: 150px;
  width:150px;
  background: rgb(37, 37, 37);
  border: 4px solid;
  border-color: black;
  border-radius: 12px;
}
.next-X-turn:hover::after {
  content: "X";
  opacity: 0.4;
}
.next-O-turn:hover::after {
  content: "O";
  opacity: 0.4;
}
.X-style {
  color: aqua;
}

.O-style {
  color: blanchedalmond;
}

.TicTacToe-board {
  height: 450px;
  width: 400px;
  display: flex;
  margin: auto;
  margin-right: 540px;
  margin-bottom: 40px;
  position: relative;

}

.TicTacToe-reset {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  margin-bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  background: black;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.TicTacToe-reset span {
  z-index: 1;
}
.TicTacToe-reset:hover {
  color: #0d9aa4;
  background-color: #fff;
  background-position: left;
  transition: 0.5s ease-in-out;
}
.TicTacToe-reset::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.strike-x {
  position: absolute;
  background-color:  aqua;
}

.strike-o {
  position: absolute;
  background-color:  blanchedalmond;
}

.strike-row-1 {
  width: 110%;
  margin-left: 5px;
  height: 4px;
  top: 16%;
}
.strike-row-2 {
  width: 110%;
  height: 4px;
  top: 49%;
  margin-left: 5px;
}
.strike-row-3 {
  height: 4px;
  top: 82%;
  width: 110%;
  margin-left: 5px;
}
.strike-column-1 {
  height: 98%;
  width: 4px;
  left: 18%;
  margin-top: 5px;
}
.strike-column-2 {
  height: 98%;
  width: 4px;
  left: 56%;
  margin-top: 5px;
}
.strike-column-3 {
  height: 98%;
  width: 4px;
  left: 93%;
  margin-top: 5px;
}
.strike-diagonal-1 {
  width: 109%;
  height: 4px;
  top: 50%;
  left: 2.5%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  width: 109%;
  height: 4px;
  top: 50%;
  left: 1.5%;
  transform: skewY(-45deg);
}
.HomePage-container {
  text-align: center;
}
.HomePage-header {
  color: white;
  margin: auto;
  text-align: center;
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.HomePage-header-2{
  color: white;
  margin: auto;
  text-align: center;
  font-size: 35px;
  margin-bottom: 120px;
  margin-top: 20px;
}
.HomePage-btn {
  font-weight: 700;
  padding: 30px 120px;
  color: #fff;
  border: 1px solid #fff;

  font-size: 30px;
  margin-left: 18px;
  margin-bottom: 30px;
  border-radius: 50px;
  cursor: pointer;
  background: black;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;

}
.HomePage-btn span {
  z-index: 1;
}
.HomePage-btn:hover {
  color: #0d9aa4;
  background-color: #fff;
  background-position: left;
  transition: 0.5s ease-in-out;
}
.HomePage-btn::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.hangman-navbar {
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
}

.hangman-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.hangman-drawing {
  position: relative;
  margin-top: 50px;
}
.hangman-hanger-1 {
  height: 50px;
  width: 10px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
}

.hangman-hanger-2 {
  height: 10px;
  width: 200px;
  background: white;
  margin-left: 120px;
}

.hangman-hanger-3 {
  height: 400px;
  width: 10px;
  background: white;
  margin-left: 120px;
}

.hangman-hanger-4 {
  height: 10px;
  width: 250px;
  background: white;
}

.hangman-head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid white;
  position: absolute;
  top: 49px;
  right: -30px;
}

.hangman-body {
  width: 10px;
  height: 100px;
  background: white;
  position: absolute;
  top: 118px;
  right: 0;
}
.hangman-right-arm {
  width: 100px;
  height: 10px;
  background: white;
  position: absolute;
  top: 148px;
  right: -100px;
  transform: rotate(-30deg);
  transform-origin: left bottom;
}
.hangman-left-arm {
  width: 100px;
  height: 10px;
  background: white;
  position: absolute;
  top: 148px;
  right: 10px;
  transform: rotate(30deg);
  transform-origin: right bottom;
}
.hangman-right-leg {
  width: 100px;
  height: 10px;
  background: white;
  position: absolute;
  top: 208px;
  right: -90px;
  transform: rotate(60deg);
  transform-origin: left bottom;
}
.hangman-left-leg {
  width: 100px;
  height: 10px;
  background: white;
  position: absolute;
  top: 208px;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: right bottom;
}
.guessed-word {
  display: flex;
  gap: 22px;
  font-size: 86px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
  color: #fff;

}
.guessed-letter-underline {
  text-decoration: underline;
  color: white;
}

.letter-visible {
  visibility: visible;
}

.letter-visible-red {
  visibility: visible;
  color: red;
}
.letter-hidden {
  visibility: hidden;
}

.keyboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 0.5rem;
}

.keyboard-button {
  width: 100%;
  border: 3px solid white;
  background: none;
  aspect-ratio: 1 / 1;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: .5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.keyboard-button.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.keyboard-button.inactive {
  opacity: .3;
}

.keyboard-button:hover:not(:disabled),
.keyboard-button:focus:not(:disabled) {
  background-color:  rgb(50, 51, 51);
}